<div class="container mt-4 bg-primary-subtle border border-primary rounded border-2">
    @if (!this.sesionIniciada){
        <div>
            <h2 i18n>Inicia sesión para ver el estado de tu cuenta</h2>
            <div class="mb-3">
                <label for="usuario" class="form-label fw-bold" i18n>Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-control" i18n-placeholder placeholder="Usuario" [(ngModel)]="persona.nombre">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" i18n>Contraseña:</label>
                <input type="password" name="contrasenya" id="contrasenia" class="form-control" i18n-placeholder placeholder="Contraseña" [(ngModel)]="persona.contrasenya"/>
            </div>
            <button type="submit" class="btn btn-primary mb-3" i18n (click)="inicioSesion()">Iniciar sesión</button>
        </div>
    }
    @else{
        <div>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-2 mt-2">
                        <h2 i18n>Mi cuenta</h2>
                    </div>
                    <div class="col-2 mt-2">
                        <button class="btn btn-warning" i18n (click)="cierraSesion()">Cerrar sesión</button>
                    </div>
                </div>
            </div>
            <div class="shadow card p-3 my-2 border border-dark border-2">
                <h5 class="card-title" i18n>Email</h5>
                <h6> {{ persona.correo }}</h6>
                <h5 class="card-title" i18n>Fecha de nacimiento</h5>
                <h6> {{ persona.fechaNac }}</h6>
                <h5 class="card-title" i18n>Mi saldo</h5>
                <h6> {{ persona.saldo }} €</h6>
                @if (inventario.length > 0){
                    <h5 class="card-title" i18n>Mi inventario</h5>
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th i18n>Producto</th>
                                <th i18n>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (inv of inventario;let i = $index; track i){
                                <tr>
                                    <td> {{ inv.producto }} </td>
                                    <td> {{ inv.cantidad }} </td>              
                                </tr>
                            }
                        </tbody>
                    </table>
                }

                @if (misReses.length > 0){
                    <h5 class="card-title" i18n>Mis opiniones</h5>
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th i18n>Producto</th>
                                <th i18n>Opinión</th>
                                <th i18n>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (resen of misReses;let j = $index; track j){
                                <tr>
                                    <td> {{ resen.producto }} </td>
                                    <td> {{ resen.opinion }} </td>
                                    <td> {{ resen.fecha }} </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }

            </div>
            <div class="shadow card p-3 my-2 border border-dark border-2">
                <h5 class="card-title" i18n>Cambiar mi nombre</h5>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Nuevo nombre(max 50 caracteres):</label>
                    <input type="text" id="nombre" class="form-control" [(ngModel)]="persona.nombre"/>                    
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-warning" i18n (click)="cambiarNombre()">Modificar</button>
                </div>
            </div>
            <div class="shadow card p-3 my-2 border border-dark border-2">
                <h5 class="card-title" i18n>Cambiar mi contraseña</h5>
                @if (persona.contrasenya != contr2){
                    <h3 i18n class="text-danger-emphasis bg-warning-subtle p-2 border border-dark border-2 rounded"><span class="material-symbols-outlined"> error </span>Las contraseñas no coinciden</h3>
                }
                @else{
                    <h3 i18n class="bg-success-subtle border border-light p-2 border-2 rounded"><span class="material-symbols-outlined"> check_circle </span>Las contraseñas coinciden</h3>
                }
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Nueva contraseña:</label>
                    <input type="password" id="contrasenya" class="form-control" [(ngModel)]="persona.contrasenya"/>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Repite la contraseña:</label>
                    <input type="password" id="contrasenya2" class="form-control" [(ngModel)]="contr2"/>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-warning" i18n (click)="cambiarContrasenya()">Modificar</button>
                </div>
            </div>
        </div>
        
        <!--sólo se mostrará si un administrador ha iniciado sesión-->
        @if (usuarioAdmin){
            <div class="shadow card p-3 my-2 border border-dark border-2">
                <h5 class="card-title" i18n>Permisos de otros usuarios</h5>
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th i18n>Nombre</th>
                            <th i18n>Correo electrónico</th>
                            <th i18n>Admin</th>
                            <th i18n>Cambiar</th>
                            <th i18n>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (per of todosUsuarios;let k = $index; track k){
                            <tr>
                                <td>{{per.nombre}}</td>
                                <td>{{per.correo}} </td>
                                <td> {{per.adminis}} </td>
                                <td>
                                    <!--sólo da la opción de cambiar los permisos de administrador de los adultos-->
                                    @if (esAdulto(per)){
                                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" (click)="tempElegir(per)" data-bs-target="#modalCambiaPermiso" i18n>Cambiar</button>
                                    }
                                    @else {
                                        <span i18n>Demasiado joven para ser administrador</span>
                                    }
                                </td>
                                <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalBorra" (click)="tempElegir(per)" i18n>Borrar</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
</div>

<div class="modal fade" id="modalCambiaPermiso" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-warning border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" i18n>Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-warning-subtle">
                <img src="clipo.png">
                @if (temp.adminis == 'S'){
                    <p i18n>¿Seguro que quieres quitar permisos de administrador a {{temp.nombre}}?</p>
                }
                @else {
                    <p i18n>¿Seguro que quieres dar permisos de administrador a {{temp.nombre}}?</p>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cancelar</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="cambiarPermiso()" i18n>Confirmar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalBorra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-warning border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" i18n>Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-warning-subtle">
                <img src="clipo.png">
                <p>Seguro que quieres eliminar la cuenta de {{temp.nombre}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borraCuenta(temp)" i18n>Confirmar</button>
            </div>
        </div>
    </div>
</div>