<div class="container mt-4 bg-primary-subtle border border-primary rounded border-2">
    @if (!this.sesionIniciada){
        <div>
            <h2 i18n>Inicia sesión para ver el estado de tu cuenta</h2>
            <div class="mb-3">
                <label for="usuario" class="form-label fw-bold" i18n>Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-control" i18n-placeholder placeholder="Usuario" [(ngModel)]="usuario">
            </div>
            <div class="mb-3">
            </div>
            <button type="submit" class="btn btn-primary mb-3" i18n (click)="inicioSesion()">Iniciar sesión</button>
        </div>

    }
    @else{
        <div>
            <h2 i18n>Mi cuenta</h2>

            <div class="card p-3 my-2 border border-dark border-2">
                <h5 class="card-title" i18n>Modificar mi cuenta</h5>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Nombre:</label>
                    <input type="text" id="nombre" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Email:</label>
                    <input type="text" id="correo" class="form-control" disabled/>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Saldo:</label>
                    <input type="text" id="saldo" class="form-control" disabled/>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Fecha de nacimiento:</label>
                    <input type="date" id="fechaNac" class="form-control" disabled/>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-warning" i18n>Modificar</button>
                </div>
            </div>
        </div>
        
        <!--sólo se mostrará si un administrador ha iniciado sesión-->
        @if (usuarioAdmin){

        }

    }
</div>
