<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <div id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item-dropdown">
                    <a [ngClass]="{'aqui':this.arraiRutUsu.includes(this.location.path())}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span i18n>Usuarios</span></a>
                    <ul class="dropdown-menu">
                        <li><a [ngClass]="{'aqui':this.location.path()=='/nuevo-usuario'}" class="dropdown-item" href="#" routerLink="/nuevo-usuario"><span i18n>Crear cuenta</span></a></li>
                        <li><a [ngClass]="{'aqui':this.location.path()=='/mi-cuenta'}" class="dropdown-item" href="#" routerLink="/mi-cuenta"><span i18n>Mi cuenta</span></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a [ngClass]="{'aqui':this.arraiRutProd.includes(this.location.path())}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span i18n>Productos</span></a>
                    <ul class="dropdown-menu">
                        <li><a [ngClass]="{'aqui':this.location.path()=='/nuevo-prod'}" class="dropdown-item" href="#" routerLink="/nuevo-prod"><span i18n>Añadir</span></a></li>
                        <li><a [ngClass]="{'aqui':this.location.path()=='/ver-prod'}" class="dropdown-item" href="#" routerLink="/ver-prod"><span i18n>Ver</span></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a [ngClass]="{'aqui':this.arraiRutCat.includes(this.location.path())}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span i18n>Categorías</span></a>
                    <ul class="dropdown-menu">
                        <li><a [ngClass]="{'aqui':this.location.path()=='/nueva-cat'}" class="dropdown-item" href="#" routerLink="nueva-cat"><span i18n>Añadir</span></a></li>
                        <li><a [ngClass]="{'aqui':this.location.path()=='/ver-cat'}" class="dropdown-item" href="#" routerLink="ver-cat"><span i18n>Ver</span></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a [ngClass]="{'aqui':this.arraiRutCaPr.includes(this.location.path())}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span i18n>Categorías y productos</span></a>
                    <ul class="dropdown-menu">
                        <li><a [ngClass]="{'aqui':this.location.path()=='/nuevo-cat-prod'}" class="dropdown-item" href="#" routerLink="nuevo-cat-prod"><span i18n>Añadir</span></a></li>
                        <li><a [ngClass]="{'aqui':this.location.path()=='/ver-cat-prod'}" class="dropdown-item" href="#" routerLink="ver-cat-prod"><span i18n>Ver</span></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a [ngClass]="{'aqui':this.arraiRutUsuPr.includes(this.location.path())}" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="material-symbols-outlined"> shopping_cart </span></a>
                    <ul class="dropdown-menu">
                        <li><a [ngClass]="{'aqui':this.location.path()=='/resenya'}" class="dropdown-item" href="#" routerLink="resenya"><span i18n>Reseñas</span></a></li>
                        <li><a [ngClass]="{'aqui':this.location.path()=='/comprar'}" class="dropdown-item" href="#" routerLink="comprar"><span i18n>Comprar</span></a></li>
                        <li><a [ngClass]="{'aqui':this.location.path()=='/loteria'}" class="dropdown-item" href="#" routerLink="loteria"><span i18n>Lotería</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal"i18n>Ayuda</button>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-info border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><span class="material-symbols-outlined">info</span><span i18n>Sobre esta página</span></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ infoPag() }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" i18n>Vale</button>
            </div>
        </div>
    </div>
</div>