<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <div id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" i18n>Productos</a>
                    <ul class="dropdown-menu">
                        <li i18n><a class="dropdown-item" href="#" routerLink="/nuevo-prod">Añadir</a></li>
                        <li i18n><a class="dropdown-item" href="#" routerLink="/conf-prod">Ver/modificar</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" i18n>Categorías</a>
                    <ul class="dropdown-menu">
                        <li i18n><a class="dropdown-item" href="#" routerLink="nueva-cat">Añadir</a></li>
                        <li i18n><a class="dropdown-item" href="#" routerLink="conf-cat">Ver</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" i18n>Categorías y productos</a>
                    <ul class="dropdown-menu">
                        <li i18n><a class="dropdown-item" href="#" routerLink="nuevo-cat-prod">Añadir</a></li>
                        <li i18n><a class="dropdown-item" href="#" routerLink="conf-cat-prod">Ver</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal"i18n>Ayuda</button>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-info border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" i18n><span class="material-symbols-outlined">info</span>Sobre esta página</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ infoPag() }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" i18n>Vale</button>
            </div>
        </div>
    </div>
</div>