<div class="container-fluid m-auto border border-2 border-dark text-light fw-bold" id="er">
    <h1 class="d-inline my-1"><span class="material-symbols-outlined"> error </span><span class="mono" i18n>Error</span></h1>
    <h2 i18n>¿He sido yo?</h2>
    <p i18n>La página que buscabas no se encuentra.</p>
    <p class="bg-warning-subtle text-dark d-inline p-1 my-2"><span class="material-symbols-outlined"> warning </span><span i18n>Te redirigeremos a la página para ver tu cuenta en {{tiempoRestante()}}.</span></p>
    <p i18n>Prueba a usar la barra de navegación.</p>
    <p i18n>A lo mejor te interesa ver alguna de estas páginas:</p>
    <ul>
        <li i18n><button class="btn btn-light"><a href="/conf-prod" routerLink="/conf-prod">Lista de productos</a></button></li>
        <li i18n><button class="btn btn-light"><a href="/conf-cat" routerLink="/conf-cat">Lista de categorías</a></button></li>
        <li i18n><button class="btn btn-light"><a href="/conf-cat-prod" routerLink="/conf-cat-prod">Productos y categorías</a></button></li>
        <li i18n><button class="btn btn-light"><a href="/comprar" routerLink="/comprar">Comprar</a></button></li>
    </ul>
</div>