<div class="container-fluid m-auto border border-2 border-dark text-light fw-bold" id="er">
    <h1 class="d-inline my-1"><span class="material-symbols-outlined"> error </span><span class="mono" i18n>Error</span></h1>
    <h2 i18n>¿He sido yo?</h2>
    <p i18n>La página que buscabas no se encuentra.</p>
    <p class="bg-warning-subtle text-dark d-inline p-1 my-2"><span class="material-symbols-outlined"> warning </span><span i18n>Te redirigeremos a la página para ver tu cuenta en {{tiempoRestante()}}.</span></p>
    <p i18n>Prueba a usar la barra de navegación.</p>
    <p i18n>A lo mejor te interesa ver alguna de estas páginas:</p>
    <ul>
        <li><button class="btn btn-light"><a href="/ver-prod" routerLink="/ver-prod"><span i18n>Lista de productos</span></a></button></li>
        <li><button class="btn btn-light"><a href="/ver-cat" routerLink="/ver-cat"><span i18n>Lista de categorías</span></a></button></li>
        <li><button class="btn btn-light"><a href="/ver-cat-prod" routerLink="/ver-cat-prod"><span i18n>Productos y categorías</span></a></button></li>
        <li><button class="btn btn-light"><a href="/comprar" routerLink="/comprar"><span i18n>Comprar</span></a></button></li>
    </ul>
</div>