#er {
  background-image: url("../../../../public/hoja2.png"),
    radial-gradient(#170825, #2e233833, #231f27),
    url("../../../../public/img5.png");
}

li {
  list-style-type: none;
  margin: 3px;
}

p, h2, li, .mono {
  font-family: monospace;
}
