<div class="container mt-4">
    <h1 class="text-center bg-light" i18n>Productos y sus categorías</h1>
    <!--comprueba si el objeto de nombres no está vacío-->
    @if (this.nombres != null){
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th i18n>Producto</th>
                <th i18n>Categoría</th>
                <th i18n>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @for (p of nombres;let i = $index; track i) {
            <tr>
                <td>{{p.producto}}</td>
                <td>{{p.categoria}}</td>
                <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalBorra" i18n
                        (click)="tempBorr(prodCats[i].IdProd, prodCats[i].IdCat, p)">Borrar</button></td>
            </tr>
            }
        </tbody>
    </table>
    }
    @else {
    <div class="container mt-4 text-danger-emphasis bg-danger-subtle">
        <h2 i18n><span class="material-symbols-outlined">error</span>No hay relaciones entre productos y categorías</h2>
    </div>

    }
</div>

<div class="modal fade" id="modalBorra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-warning border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" i18n>Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-warning-subtle">
                <img src="clipo.png">
                <p i18n>¿Seguro que quieres eliminar la relación entre la categoría {{auxNombres.categoria}} y el
                    producto {{auxNombres.producto}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmaBorrar()"
                    i18n>Eliminar</button>
            </div>
        </div>
    </div>
</div>