<div class="container mt-4">
    <h1 class="text-center bg-light" i18n>Productos y sus categorías</h1>
    <!--comprueba si el objeto de nombres no está vacío-->

    @if (!sesionIniciada){
        <div class="bg-primary-subtle p-2 mb-3 border border-primary rounded border-2">
            <h2 i18n>Inicia sesión como administrador para eliminar conexiones entre productos y categorías</h2>
            <div class="mb-3">
                <label for="usuario" class="form-label fw-bold" i18n>Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-control" i18n-placeholder placeholder="Usuario" [(ngModel)]="usuario">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" i18n>Contraseña:</label>
                <input type="password" name="contrasenya" id="contrasenya" class="form-control" i18n-placeholder placeholder="Contraseña"/>
            </div>
            <button type="submit" class="btn btn-primary mb-3" i18n (click)="inicioSesion()">Iniciar sesión</button>
        </div>
    }

    @if (this.nombres != null){
        <div class="shadow my-2 p-2 border border-secondary border-3 rounded bg-light">
            <div class="form-floating form-check-inline col-6">
                <input type="text" class="form-control" id="Filtro" name="filtro" [(ngModel)]="filtrio" i18n-placeholder placeholder="Busca por producto o categoría">
                <label for="Filtro" i18n>Busca por producto o categoría</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="filtroElegido" type="radio" name="tipoFiltro" id="porProd" value="produc">
                <label class="form-check-label" for="porProd" i18n>Por producto</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" [(ngModel)]="filtroElegido" type="radio" name="tipoFiltro" id="porCat" value="categ">
                <label class="form-check-label" for="porCat" i18n>Por categoría</label>
              </div>
              <div class="form-check form-check-inline">
                <button class="btn btn-primary" (click)="busca()" i18n>Buscar</button>
              </div>
              <div class="form-check form-check-inline">
                <button class="btn btn-primary" (click)="muestraTodo()" i18n>Mostrar todos</button>
              </div>
        </div>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th i18n>Producto</th>
                <th i18n>Categoría</th>
                @if (sesionIniciada){
                    <th i18n>Borrar</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (p of nombres;let i = $index; track i) {
            <tr>
                <td>{{p.producto}}</td>
                <td>{{p.categoria}}</td>
                @if (sesionIniciada){
                    <td><button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalBorra" i18n
                        (click)="tempBorr(prodCats[i].IdProd, prodCats[i].IdCat, p)">Borrar</button></td>
                }
            </tr>
            }
        </tbody>
    </table>
    }
    @else {
    <div class="container mt-4 text-danger-emphasis bg-danger-subtle">
        <h2 i18n><span class="material-symbols-outlined">error</span>No hay relaciones entre productos y categorías</h2>
    </div>

    }
</div>

<div class="modal fade" id="modalBorra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-warning border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" i18n>Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-warning-subtle">
                <img src="clipo.png">
                <p i18n>¿Seguro que quieres eliminar la relación entre la categoría {{auxNombres.categoria}} y el
                    producto {{auxNombres.producto}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmaBorrar()" i18n>Eliminar</button>
            </div>
        </div>
    </div>
</div>