<div class="container mt-3">
    @if (this.categorias != null){
        @if (!sesionIniciada){
            <div class="bg-primary-subtle p-2 mb-2 border border-primary rounded border-2">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-primary-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="fw-bold" i18n>Inicia sesión como administrador para modificar o eliminar categorías</span>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="mb-3">
                                    <label for="usuario" class="form-label fw-bold" i18n>Usuario</label>
                                    <input type="text" name="usuario" id="usuario" class="form-control" i18n-placeholder placeholder="Usuario" [(ngModel)]="persona.nombre">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label fw-bold" i18n>Contraseña:</label>
                                    <input type="password" name="contrasenya" id="contrasenya" class="form-control" i18n-placeholder placeholder="Contraseña" [(ngModel)]="persona.contrasenya"/>
                                </div>
                                <button type="submit" class="btn btn-primary mb-3" i18n (click)="inicioSesion()">Iniciar sesión</button>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <h1 class="text-center bg-light" i18n>Lista de categorías</h1>
        }
        @else {
            <h1 class="text-center bg-light" i18n>Administración de categorías</h1>
            <h3 class="text-success-emphasis bg-success-subtle mt-1 p-1" i18n>Hola, {{ persona.nombre }}</h3>
        }
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th i18n>Id</th>
                    <th i18n>Nombre</th>
                    @if (sesionIniciada){
                        <th i18n>Borrar</th>
                        <th i18n>Seleccionar</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for(cat of categorias; track cat.Id) {
                <tr>
                    <td>{{cat.Id}}</td>
                    <td>{{cat.nombre}}</td>
                    @if (sesionIniciada){
                        <td>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalBorra"
                                (click)="tempBorr(cat)" i18n>Borrar</button>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" (click)="seleccionar(cat)" i18n>Seleccionar</button>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
        @if (sesionIniciada){
            <div class="card p-3 mt-4 sticky-bottom border border-dark border-2">
                <h5 class="card-title" i18n>Renombramiento de categorías</h5>
                <div class="mb-3">
                    <label class="form-label fw-bold" i18n>Nombre:</label>
                    <input type="text" id="description" class="form-control" [(ngModel)]="cat.nombre" />
                </div>
                <div class="d-flex gap-2">
                    <button class="btn btn-warning" i18n (click)="modificacion()">Renombrar</button>
                </div>
            </div>
        }
    }
    @else {
        <div class="container mt-4 text-danger-emphasis bg-danger-subtle">
            <h2 i18n><span class="material-symbols-outlined">error</span>No se han encontrado categorías</h2>
        </div>
    }

<div class="modal fade" id="modalBorra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border border-warning border-3 rounded">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel" i18n>Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-warning-subtle">
                <img src="clipo.png">
                <p i18n>¿Seguro que quieres eliminar la categoría {{ temp.nombre }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" i18n>Cancelar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" i18n
                    (click)="confirmaBorrar()">Eliminar</button>
            </div>
        </div>
    </div>
</div>