<div class="container mt-4 bg-primary-subtle border border-primary rounded border-2">
    @if (!sesionIniciada){
        <div>
            <h2 i18n>Inicia sesión como administrador para añadir productos</h2>
            <div class="mb-3">
                <label for="usuario" class="form-label fw-bold" i18n>Usuario</label>
                <input type="text" name="usuario" id="usuario" class="form-control" i18n-placeholder placeholder="Usuario" [(ngModel)]="usuario">
            </div>
            <div class="mb-3">
                <label class="form-label fw-bold" i18n>Contraseña:</label>
                <input type="password" name="contrasenya" id="contrasenya" class="form-control" i18n-placeholder placeholder="Contraseña"/>
            </div>
            <button type="submit" class="btn btn-primary mb-3" i18n (click)="inicioSesion()">Iniciar sesión</button>
        </div>
    }
    @else {
        <h2 i18n>Añadir nuevo producto</h2>
        <form>
            @if (this.estringNombres()!= ""){

                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-primary-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <span class="fw-bold" i18n>Ya tenemos los siguientes productos, intentar añadirlos no servirá</span>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p> {{ estringNombres() }} </p>
                            </div>
                          </div>
                    </div>
                </div>

            }
    
            <div class="mb-3">
                <label for="description" class="form-label fw-bold" i18n>Nombre del producto</label>
                <input type="text" name="nombre" id="description" class="form-control" i18n-placeholder
                    placeholder="Escribe el nombre del producto" [(ngModel)]="prod.nombre">
            </div>
            <div class="mb-3">
                <label for="price" class="form-label fw-bold" i18n>Precio</label>
                <input type="number" name="precio" id="price" class="form-control" i18n-placeholder placeholder="Escribe el precio"
                    [(ngModel)]="prod.precio">
            </div>
            <button type="submit" class="btn btn-primary mb-3" i18n (click)="alta()">Guardar</button>
        </form>
    }

</div>